{#
/**
 * @file
 * Default theme implementation for the dnsw_atlas_products module.
 *
 * Available variables:
 * totalRecords
 * productImage
 * productName
 * productDescription
 * area
 * city
 * region
 *
 * @ingroup themeable
#}

<div class="product-container">
  <div class="available-records">{{ products_info.totalRecords|number_format }} accommodations are currently available.</div>
    <div class="product-listing">
      {% if products_info %}
      <div>
          {% for content in products_info %}
            {% if content.productName %}
              <div class="row">
                <div class="column-left">
                  <div class="accomm-image" ><img src="{{ content.productImage }}"></div>
                </div>
                <div class="column-right">
                  <div class="accomm-name" >{{ content.productName }}</div>
                  <div class="accomm-area" >
                    <span>{{ content.area }}, </span>
                    <span>{{ content.city }},</span>
                    <span>{{ content.region }}</span>
                  </div>
                  <div class="accomm-desc" >{{ content.productDescription }}</div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
      </div>
      {% endif %}
    </div>
</div>
