#main {
  max-width: 780px;
  margin: 0 auto;
}

.row {
  padding: 16px;
  margin: 16px 0;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
}

.column-left {
  float: left;
  width: 28%;
}

.column-right {
  float: left;
  width: 69%;
  margin-left: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.accomm-area {
  font-weight: bold;
  font-size: 11px;
}

.accomm-desc {
  margin-top: 10px;
  text-align: justify;
  font-size: 12px;
}

.accomm-name {
  font-weight: bold;
}

.available-records {
  font-size: 11px;
}
